<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">

    <title>API Index Page</title>
</head>

<body>
    <div class="container">
        <form action="/monitoring" method="POST">
            <div class="form-group">
                <label for="host">Host</label>
                <input type="text" class="form-control is-valid" name="host" aria-describedby="hostHelp" value="https://services.m3.maas360.com">
                <small name="hostHelp" class="form-text text-muted">API host</small>
            </div>
            <div class="form-group">
                <label for="billingID">Billing ID</label>
                <input type="text" class="form-control is-valid" name="billingID" aria-describedby="billingIdHelp" value="30081687">
                <small name="billingIdHelp" class="form-text text-muted">MaaS360 Billing ID</small>
            </div>
            <div class="form-group">
                <label for="platformID">Platform ID</label>
                <input type="text" class="form-control is-valid" name="platformID" aria-describedby="platformIdHelp" value="3">
                <small name="platformIdHelp" class="form-text text-muted">Plattform ID provided by MaaS360</small>
            </div>
            <div class="form-group">
                <label for="appID">App ID</label>
                <input type="text" class="form-control is-valid" name="appID" aria-describedby="appIdHelp" value="com.30081687.api">
                <small name="appIdHelp" class="form-text text-muted">APP ID provided by MaaS360</small>
            </div>
            <div class="form-group">
                <label for="appVersion">App Version</label>
                <input type="text" class="form-control is-valid" name="appVersion" aria-describedby="appVersionHelp" value="1.0">
                <small name="appVersionHelp" class="form-text text-muted">APP Version provided by MaaS360</small>
            </div>
            <div class="form-group">
                <label for="appAccessKey">App Access Key</label>
                <input type="text" class="form-control is-valid" name="appAccessKey" aria-describedby="appAccessKeyHelp" value="7I6067cMtT">
                <small name="appAccessKeyHelp" class="form-text text-muted">App Access Key provided by MaaS360</small>
            </div>
            <div class="form-group">
                <label for="userName">User Name</label>
                <input type="text" class="form-control is-invalid" name="userName" aria-describedby="userNameHelp" placeholder="e-mail / user name">
                <small name="userNameHelp" class="form-text text-muted">API Administrator created in MaaS360 webapp</small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control is-invalid" name="password" placeholder="API Administrator Password">
            </div>
            <button type="submit" class="btn btn-primary">Connect</button>
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
</body>

</html>